#use01{
    padding: 120px 0;
    background-color: #fff;
}
.use01_text h4{
    height: 32px;
    width: 136px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-style: normal;
    line-height: 32px;
    margin-top: 20px;
}
.use01_text h3{
    height: 168px;
    width: 580px;
    font-size: 38px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #232536;
    font-style: normal;
    line-height: 56px;
}
.use01_text p{
    height: 84px;
    width: 622px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-style: normal;
    line-height: 28px;
    
}
.use01_img img{
    width: 100%;
}