#mission{
    padding: 120px 0;
    background-color: #EEF4FA;
}
.mission_text h4{
   
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 28px;
}
.mission_text h2{
   
    font-size: 38px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 56px;
}
.mission_text p{
   
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 28px;
}
.mission_img img{
    width: 100%;
}

.vision_img img{
    width: 100%;
    margin-top: 80px;
}
.vision_text h4{
    margin-top: 80px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 28px;
}
.vision_text h2{
   
    font-size: 38px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 56px;
}
.vision_text p{
   
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #282938;
    font-style: normal;
    line-height: 28px;
}